<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    div#js-dropArea(style="width: 320px; height: 240px; border: dashed 1px #616161")
    div.js-imageUpload
      input.js-imageInput(type="file" accept="application/zip")
    div#output
    script(src='/assets/javascripts/main.js')